.idea
\DigitalFilter\__pycache__\
\DigitalFilter\DigitalFilter.pyproject.user
\DigitalFilter\main.py
\DigitalFilter\main2.py
\DigitalFilter\main3.py
\DigitalFilter\MplForWidget.py
\DigitalFilter\test.py